.wrapper-content {
  position: absolute;
  top: 7.3rem;
  left: 7.6rem;
  right: 7.6rem;
  bottom: 7.3rem;
}

@media only screen and (max-width: 1000px) {
  .wrapper-content {
    position: absolute;
    top: 4.3rem;
    left: 4.6rem;
    right: 4.6rem;
    bottom: 4.3rem;
  }
}

.wrapper-like-repost {
  position: absolute;
  bottom: 0;
  left: 4rem;
  width: 18rem;
}

@media only screen and (max-width: 980px) {
  .wrapper-like-repost {
    width: 21.3rem;
  }
}

.wrapper-robot {
  position: absolute;
  bottom: -0.5rem;
  right: 5rem;
}

@media only screen and (max-width: 420px) {
  .wrapper-robot {
    position: absolute;
    bottom: -0.5rem;
    right: 1rem;
  }
}
