.like-repost {
  display: flex;
  justify-content: space-around;
}

.like-repost-handler {
  position: relative;
}

.like-repost-popover-wrapper {
  position: absolute;
  bottom: calc(100% + 1.2rem);
  left: 50%;
  width: 20rem;
  margin-left: -10rem;
  display: flex;
  justify-content: center;
}
