.icon {
  display: block;
}

.icon.icon-see-more {
  background: url(./images/arrow.png) no-repeat;
  background-size: 1.5rem .7rem;
  width: 1.5rem;
  height: .7rem;
}

.icon.icon-nimax {
  background: url(./images/logo.png) no-repeat;
  background-size: 2.9rem 3.8rem;
  width: 2.9rem;
  height: 3.8rem;
}

@media
(-webkit-min-device-pixel-ratio: 1.25),
(min-resolution: 120dpi) {
  .icon.icon-nimax {
    background: url(./images/logo@2x.png) no-repeat;
    background-size: 2.9rem 3.8rem;
  }

  .icon.icon-see-more {
    background: url(./images/arrow@2x.png) no-repeat;
    background-size: 1.5rem .7rem;
  }
}
