* {
  box-sizing: border-box;
}

body {
  background: #C92A89;
  line-height: 1.212;
}

html {
  font-size: 10px;
}

a {
  text-decoration: none;
  color: inherit;
}
a:hover {
  opacity: .7;
}

button {
  border: none;
  background: none;
  display: block;
  margin: 0;
  padding: 0;
  outline: 0;
  cursor: pointer;
}
