/*
it's generated file, don't touch, just run
$ npm run icons
*/

@media only screen and (max-width: 1900px) {
  html {
    font-size: 10px;
  }
}

@media only screen and (max-width: 1742px) {
  html {
    font-size: 9.6px;
  }
}

@media only screen and (max-width: 1584px) {
  html {
    font-size: 9.2px;
  }
}

@media only screen and (max-width: 1426px) {
  html {
    font-size: 8.8px;
  }
}

@media only screen and (max-width: 1268px) {
  html {
    font-size: 8.4px;
  }
}

@media only screen and (max-width: 1110px) {
  html {
    font-size: 8px;
  }
}

@media only screen and (max-width: 952px) {
  html {
    font-size: 7.6px;
  }
}

@media only screen and (max-width: 794px) {
  html {
    font-size: 7.199999999999999px;
  }
}

@media only screen and (max-width: 636px) {
  html {
    font-size: 6.8px;
  }
}

@media only screen and (max-width: 478px) {
  html {
    font-size: 6.4px;
  }
}
