/*
it's generated file, don't touch, just run
$ npm run icons
*/

@media only screen and (max-width: 1900px) {
  html {
    font-size: 10px;
  }
}

@media only screen and (max-width: 1868.4px) {
  html {
    font-size: 9.92px;
  }
}

@media only screen and (max-width: 1836.8px) {
  html {
    font-size: 9.84px;
  }
}

@media only screen and (max-width: 1805.2px) {
  html {
    font-size: 9.76px;
  }
}

@media only screen and (max-width: 1773.6px) {
  html {
    font-size: 9.68px;
  }
}

@media only screen and (max-width: 1742px) {
  html {
    font-size: 9.6px;
  }
}

@media only screen and (max-width: 1710.4px) {
  html {
    font-size: 9.52px;
  }
}

@media only screen and (max-width: 1678.8px) {
  html {
    font-size: 9.44px;
  }
}

@media only screen and (max-width: 1647.2px) {
  html {
    font-size: 9.36px;
  }
}

@media only screen and (max-width: 1615.6px) {
  html {
    font-size: 9.28px;
  }
}

@media only screen and (max-width: 1584px) {
  html {
    font-size: 9.2px;
  }
}

@media only screen and (max-width: 1552.4px) {
  html {
    font-size: 9.12px;
  }
}

@media only screen and (max-width: 1520.8px) {
  html {
    font-size: 9.04px;
  }
}

@media only screen and (max-width: 1489.2px) {
  html {
    font-size: 8.96px;
  }
}

@media only screen and (max-width: 1457.6px) {
  html {
    font-size: 8.879999999999999px;
  }
}

@media only screen and (max-width: 1426px) {
  html {
    font-size: 8.8px;
  }
}

@media only screen and (max-width: 1394.4px) {
  html {
    font-size: 8.72px;
  }
}

@media only screen and (max-width: 1362.8px) {
  html {
    font-size: 8.64px;
  }
}

@media only screen and (max-width: 1331.1999999999998px) {
  html {
    font-size: 8.56px;
  }
}

@media only screen and (max-width: 1299.6px) {
  html {
    font-size: 8.48px;
  }
}

@media only screen and (max-width: 1268px) {
  html {
    font-size: 8.4px;
  }
}

@media only screen and (max-width: 1236.4px) {
  html {
    font-size: 8.32px;
  }
}

@media only screen and (max-width: 1204.8px) {
  html {
    font-size: 8.24px;
  }
}

@media only screen and (max-width: 1173.1999999999998px) {
  html {
    font-size: 8.16px;
  }
}

@media only screen and (max-width: 1141.6px) {
  html {
    font-size: 8.08px;
  }
}

@media only screen and (max-width: 1110px) {
  html {
    font-size: 8px;
  }
}

@media only screen and (max-width: 1078.4px) {
  html {
    font-size: 7.92px;
  }
}

@media only screen and (max-width: 1046.8px) {
  html {
    font-size: 7.84px;
  }
}

@media only screen and (max-width: 1015.1999999999999px) {
  html {
    font-size: 7.76px;
  }
}

@media only screen and (max-width: 983.5999999999999px) {
  html {
    font-size: 7.68px;
  }
}

@media only screen and (max-width: 952px) {
  html {
    font-size: 7.6px;
  }
}

@media only screen and (max-width: 920.4px) {
  html {
    font-size: 7.52px;
  }
}

@media only screen and (max-width: 888.8px) {
  html {
    font-size: 7.4399999999999995px;
  }
}

@media only screen and (max-width: 857.2px) {
  html {
    font-size: 7.359999999999999px;
  }
}

@media only screen and (max-width: 825.5999999999999px) {
  html {
    font-size: 7.279999999999999px;
  }
}

@media only screen and (max-width: 794px) {
  html {
    font-size: 7.199999999999999px;
  }
}

@media only screen and (max-width: 762.3999999999999px) {
  html {
    font-size: 7.12px;
  }
}

@media only screen and (max-width: 730.8px) {
  html {
    font-size: 7.04px;
  }
}

@media only screen and (max-width: 699.2px) {
  html {
    font-size: 6.96px;
  }
}

@media only screen and (max-width: 667.5999999999999px) {
  html {
    font-size: 6.88px;
  }
}

@media only screen and (max-width: 636px) {
  html {
    font-size: 6.8px;
  }
}

@media only screen and (max-width: 604.3999999999999px) {
  html {
    font-size: 6.72px;
  }
}

@media only screen and (max-width: 572.8px) {
  html {
    font-size: 6.640000000000001px;
  }
}

@media only screen and (max-width: 541.2px) {
  html {
    font-size: 6.5600000000000005px;
  }
}

@media only screen and (max-width: 509.5999999999999px) {
  html {
    font-size: 6.48px;
  }
}

@media only screen and (max-width: 478px) {
  html {
    font-size: 6.4px;
  }
}

@media only screen and (max-width: 446.39999999999986px) {
  html {
    font-size: 6.32px;
  }
}

@media only screen and (max-width: 414.79999999999995px) {
  html {
    font-size: 6.24px;
  }
}

@media only screen and (max-width: 383.1999999999998px) {
  html {
    font-size: 6.16px;
  }
}

@media only screen and (max-width: 351.5999999999999px) {
  html {
    font-size: 6.08px;
  }
}
