.popover {
  border-radius: 1.4rem;
  padding: 1.3rem 1.8rem;
  position: absolute;
  display: inline-block;
  margin-top: -1.7rem;
  transition: margin-top 0.5s, opacity 0.5s;
}

.popover-hidden {
  margin-top: -0.7rem;
  opacity: 0;
}

.popover-arrow {
  border: 1rem solid transparent;
  position: absolute;
  bottom: -2rem;
  left: 50%;
  margin-left: -0.5rem;
}

.popover-theme--default {
  background: #fff;
  box-shadow: 0 0.2rem 0.9rem rgba(0, 0, 0, 0.26);
}

.popover-theme--default .popover-arrow {
  border-top-color: #fff;
}

.popover-theme--like {
  background: #ec4756;
}

.popover-theme--like .popover-arrow {
  border-top-color: #ec4756;
}
