.button {
  height: 5.3rem;
  border-radius: 3.2rem;
  padding: 0 4.5rem;
  display: inline-block;
  transition: background 0.1s, border 0.1s;
  line-height: 100%;
}

.button-theme--default {
  background: #6fbe92;
  width: 21rem;
}

.button-theme--default:hover {
  background: #508869;
}

.button-theme--vk,
.button-theme--fb {
  border: 1px solid #fff;
  width: 21rem;
}

.button-theme--vk:hover,
.button-theme--fb:hover {
  border: 1px solid transparent;
}

.button-theme--vk:hover {
  background: #4a76a8;
}

.button-theme--fb:hover {
  background: #385799;
}
