.desktop .layoutTopLeft {
  top: calc(7.3rem * 1);
  left: calc(7.6rem * 1);
}

.desktop .layoutBottomLeft {
  bottom: calc(7.3rem * 1);
  left: calc(11.3rem * 1);
}

.desktop .layoutBottomRight {
  right: calc(5.5rem * 1);
}

.desktop .layoutTopLeftQuarter {
  top: calc(7.3rem * 1);
  bottom: 50%;
  left: calc(7.6rem * 1);
  right: 30%;
}

.desktop .layoutBottomRightQuarter {
  bottom: calc(7.3rem * 1);
  top: 50%;
  right: calc(7.6rem * 1);
  left: 50%;
}
