.phone .layoutTopLeft {
  top: calc(7.3rem * 0.52);
  left: calc(7.6rem * 0.52);
}

.phone .layoutBottomLeft {
  bottom: calc(7.3rem * 0.52);
  left: calc(9rem * 0.52);
}

.phone .layoutBottomRight {
  right: calc(5.5rem * 0.52);
}
