.icon {
  display: block;
}

.icon-inline-block {
  display: inline-block;
}

.icon.icon--see-more {
  background: url(./images/arrow.png) no-repeat;
  background-size: 1.5rem 0.7rem;
  width: 1.5rem;
  height: 0.7rem;
}

.icon.icon--nimax {
  background: url(./images/logo.png) no-repeat;
  background-size: 2.9rem 3.8rem;
  width: 2.9rem;
  height: 3.8rem;
}

.icon.icon--heart {
  background: url(./images/heart.png) no-repeat;
  background-size: 1.9rem 1.8rem;
  width: 1.9rem;
  height: 1.8rem;
}

@media
  (-webkit-min-device-pixel-ratio: 1.25),
  (min-resolution: 120dpi) {
  .icon.icon--nimax {
    background: url(./images/logo@2x.png) no-repeat;
    background-size: 2.9rem 3.8rem;
  }

  .icon.icon--see-more {
    background: url(./images/arrow@2x.png) no-repeat;
    background-size: 1.5rem 0.7rem;
  }

  .icon.icon--heart {
    background: url(./images/heart@2x.png) no-repeat;
    background-size: 1.9rem 1.8rem;
  }
}
