.phone .more-ideas-large {
  width: 21rem;
  height: 21rem;
  border-radius: 21rem;
  border: 0.6rem solid #fff;
  padding: 0.6rem;
  line-height: 0.9;
}

.phone .more-ideas-wrapper2 {
  transform: scale(0.7);
}
