.orientation {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 9;
  display: none;
}

.phone .orientation .background {
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (orientation: landscape) {
  .phone .orientation {
    display: block;
  }
}
