.repost-list {
  width: 12.4rem;
  margin: 1.4rem 0.9rem 1.7rem;
}

.repost-list-item {
  margin: 0 0 1.5rem;
}

.repost-list-item:last-child {
  margin-bottom: 0;
}

@media only screen and (max-width: 980px) {
  .repost-list {
    width: 20.5rem;
    margin: 4rem 2.5rem 4.2rem;
  }

  .repost-list-item {
    margin: 0 0 3rem;
  }

  .repost-list-item:last-child {
    margin-bottom: 0;
  }
}
